.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.yellow {
  background-color: yellow;
  color: white;
}

.red {
  background-color: red;
  color: white;
}